body {
  background-attachment: fixed;
  background-image: url("bg-image.jpg");
  background-size: cover;
  font-family: arial, sans-serif;
  margin: 0;
}
/*** Commonlinks wrapper ***/
#wrapper {
  background-color: #e8edee;
  opacity: 0.8;
  padding-top: 60px;
  width: 100%;
}
/*** Commonlinks ***/
#commonlinks {
  text-align: right;
}
#commonlinks ul {
  margin-top: -50px;
}
#commonlinks li {
  display: inline;
  margin-right: 0.85em;
}
#commonlinks li a {
  color: black;
  font-size: 14px;
  opacity: 0.8;
  text-decoration: none;
}
#commonlinks li a:hover {
  color: #e8702a;
}
/*** Navigation tools ***/
#nav {
  margin-top: 20px;
  opacity: 0.8;
  text-align: center;
}
#nav ul li {
  display: inline;
  font-weight: bolder;
  list-style: none;
  padding: 35px;
}

#nav a {
  background-color: grey;
  border: 1px solid grey;
  border-radius: 50px;
  color:black;
  opacity: 0.8;
  padding: 10px;
  text-decoration: none;
}
#nav a:hover,
a:focus,
a:active {
  background: #e8edee;
  transition: all 0.45s;
}
.content {
  margin-top:50px;
}
/*** Header 1 ***/
h1 {
  color: #805500;
  font-size: 30px;
  margin: 0;
  margin-left: 20px;
  opacity: 0.6;
}
/*** Header 2 ***/
h2 {
  font-size: 40px;
  margin-top:150px;
  text-align: center;
  text-sjhadow: 5px 5px 5px #b29999;
}
mark {
  background-color:white;
  border-radius: 5px;
  border-radius:50px;
  color:#805500;
  opacity: 0.8;
}
/*** Header 3 ***/
h3 {
  color: #031a87;
  margin-top: 90px;
  text-align: center;
}
/*** SLides ***/
.mySlides {
  background-color: #000000;
  border: none 0.5px solid;
  border-radius:50px 30px 20px;
  box-shhadow: 20px 20px 15px #888888;
  max-height: 400px;
  width: 100%;
  }

#cover {
  background-color: rgba(232, 231, 233, 0.9);
  border-radius: 50px;
  box-shjadow: 20px 20px 15px #888888;
  height: 850px;
  margin-left: 150px;
  margin-top: 10px;
  text-align: center;
  width: 80%;
}
/*** About us ***/
#aboutus h1 {
  color: #805500;
  font-size: 25px;
  font-weight: bold;
  margin-top: 150px;
  opacity: 0.5;
  padding-bottom: 15px;
  padding-top: 20px;
  text-shadow: 20px 20px 15px #888888;
}

#aboutus img {
  box-shasdow: 20px 20px 15px #888888;
  height: 350px;
  width: 100%;
}
#aboutus .t {
  border-radius:90px;
  float: left;
  height: 180px;
  margin-top:50px;
  width: 180px;
}
#aboutus .f {
  border-radius:90px;
  float: right;
  height: 180px;
  margin-top:50px;
  width: 180px;
}

#aboutus p {
  margin-left: 250px;
  margin-top: 50px;
  text-align: justify;
  width: 50%;
}
/*** Footer ***/
footer {
  background: #e8edee;
  clear: both;
  color: #202a30;
  margin-right: 120px;
  margin-top: 50px;
  opacity: 0.8;
  padding:20px;
  width: 100%;
}
/*** Social buttons ***/
.fa {
  border-radius: 50%;
  font-size: 100px;
  margin:5px 2px;
  padding:20px;
  text-align: center;
  text-decoration: none;
  width: 20px;
}
.fa-twitter {
  background: #55acee;
  color: #fffff0;
}
.fa-linkedin {
  background: #007bb5;
  color: #fffff0;ll
}
.fa-youtube {
  background: #bb0000;
  color: #fffff0;
}
.fa-instagram {
  background: #125688;
  color: #fffff0;
}
.fa-flickr {
  background: #f40083;
  color: #fffff0;
}
.fa-rss {
  background: #ff6600;
  color: #fffff0;
}
/*** Responsive website ***/
@media all and (max-width: 490px) {
  body {
    background: white;
  }
  #wrapper {
    box-shadow: 10px 10px 5px silver;
    width: 100%;
  }

  #nav {
    background-color: transparent;
    margin-top: 50px;
    width: 100%;
  }

  #nav ul li {
    box-sizing: border-box;
    float: right;
    margin-right: 35px;
    padding: 15px;
    text-align: justify;
    width: 100%;
  }

  #nav a {
    display: block;
    font-weight: bold;
    opacity: 0.8;
  }
  h1 {
    font-size: 20px;
    margin-top: 40px;
  }
}
@media only screen and (max-width: 705px) {
  h2 {
    font-size: 15px;
    margin-top: 50px;
    text-shadow: 5px 5px 5px #b29999;
  }
  mark {
    display: none;
  }
}

@media only screen and (max-width: 930px) {
  #cover {
    height: 1500px;
    width: 50%;
  }
  #aboutus p {
    margin-top: 250px;
    width: 30%;
  }
}
